<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.linkedin.com/in/manavsinghman/" style="color: black;">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://github.com/manavsingh345" style="color: black;">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://www.instagram.com/manav_baliyan_001/?hl=en" style="color: black;">
                <i class="fa-brands fa-square-instagram"></i>
            </a>


        </div>
        <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>